// ------------------------------------
// Sass Style
// ------------------------------------
html {
  height: 100%;
}

body, #root {
  height: inherit;
  margin: 0;
  background-color: #ffffff;
}

.initial-pending {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eaedf1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;

  .progress-span-initial, .progress-span {
    font-size: 12px/1.5;
    font-family: Comic Sans MS;
    color: #999;
    line-height: 1.8;
    margin-bottom: 8px;
  }

  .progress-span-initial::after {
    content: ' 15%';
    animation: initial-progress-span 1.2s;
  }

  .layout-progress-bar {
    width: 40%;
    max-width: 500px;
    background-color: #fff;
    border: 1px #eee solid;
    border-radius: 6px;
    overflow: hidden;
  }

  .progress-bar-container {
    background-color: #fff;
    height: 4px;
    margin: 1px;
    border-radius: inherit;
    overflow: hidden;
  }

  .progress-bar-pending {
    background-color: #33cdff;
    width: 15%;
    height: inherit;
    border-radius: 3px;
    transition: width .8s ;
  }
  .progress-bar-pending-initial {
    background-color: #33cdff;
    width: 15%;
    height: inherit;
    border-radius: 3px;
    animation: initial-progress-bar 1.2s;
  }
}

@keyframes initial-progress-span {
  0% {
    content: ' 0%' ;
  }
  30% {
    content: ' 5%' ;
  }
  80% {
    content: ' 15%' ;
  }
  100% {
    content: ' 15%' ;
  }
}

@keyframes initial-progress-bar {
  0% {
    width: 0;
  }
  30% {
    width: 5%;
  }
  80% {
    width: 15%;
  }
  100% {
    width: 15%;
  }
}